body{
    background-color: #272935;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

#biography{
    padding: 5% 5%;
    background-color: #23252F;
}

#skills{
    padding: 2% 5%;
    background-color: #272935;
}

#awards{
    background-color: #23252F;
    padding: 2% 5%;
}

#footer{
    margin: 5% 5%;
    text-align: center;
    background-color: #272935;
}

#footer:h4{
    margin-bottom: 0%;
}

.photo-contacts{
    text-align: center;
}

.personal-name h5{
    margin-top: 16px;
    margin-left: -20%;
    font-size: 25px;
}

.profile-pic{
    margin-left: -20%;
    border-radius: 100%;
    width: 300px;
}

.contact-me{
    margin-left: -20%;
}

.contact-item{
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px;
}

.biography{
    font-size: 60px;
}

.interests{
    font-size: 42px;
}

.education{
    font-size: 42px;
}

.ele-school{
    margin-top: 5%;
}

.school-history{
    font-size: 18px;
}


.awards-list{
    margin-left: 6%;
}
